#table2{
	width:71%;
}
table {
border-style:double;
} 
td {
border-style:double;width:250
} 
tr {
border-style:double;
}
#bookInformation{
width:60%;
height:320px;
position:relative;
top:3%;
left:20%;
} 
#table2{
position:absolute;
top:13%;
left:28%;
}
#table3{
width:60%;
height:320px;
position:relative;
top:35%;
left:20%;
}
#div1{
width:300px; 
height:450px; 
background-color:red;
position:relative;
top:10%;
left:10%;
}

