
#introduction{
	width:500px; 
	height:400px; 
	background-color:rgba(255,255,255,.5);
	position:relative;
	top:100px;
	left:80px; 
	-webkit-border-radius: 30px;
	-webkit-border-top-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	border-radius: 30px;
	border-top-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

#inputGrp{
	position: relative;
	left: 52%;
	top: -128px;
	width: 40%;
}

#emailInput{
	top:-95px;
}

<<<<<<< HEAD
=======
#send_button{
	position: relative;
	left: 75%;
}

.commitArea{
	position: relative;
	width:400px;
	left:15%;
}

.commitTitle{
	position: relative;
	left: 20%;
	height: 15px;
}

>>>>>>> 3d8b2ecfe1d7d7a484d4d9d9690f02672092cc7c
.enter_button{
	position: relative;
	left: 85%;
	top: 100px;
}
.form-control{
	height:35px;
}

.input-group-addon{
	font-size: 24px;
}

.book-cover{
	position: relative;
	height:220px;
	width:200px;
}

.book-cover-place{
	position: relative;
	left: 10%;
	width:200px;
}

.book-title{
	position: relative;
	left:40%;
}

.editable{
<<<<<<< HEAD
	position: relative;
	left: 5%;
}
.for_textarea{
	position: relative;
	width: 80%;
	left:10%;
}
=======
	position: relative;
	left: 5%;
}
.for_textarea{
	position: relative;
	width: 80%;
	left:10%;
}
.title_mark{
	position: relative;
	left: 20%;
}
>>>>>>> 3d8b2ecfe1d7d7a484d4d9d9690f02672092cc7c
