table {
border-style:double;
} 
td {
border-style:double;
left:33%;
} 
#hot{
	width:33%;
	height:69%;
	background-color:rgba(255,255,255,0);
	position:absolute;
	top:30%;
	left:12%; 
	-webkit-border-radius: 30px;
	-webkit-border-top-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	border-radius: 30px;
	border-top-right-radius: 2px;
	border-bottom-left-radius: 2px;

}

#newbook{
	width:33%; 
	height:69%; 
	background-color:rgba(255,255,255,0);
	position:absolute;
	top:30%;
	left:980px; 
	border:rgba(255,255,255,0.3) 1px solid;
	-webkit-border-radius: 30px;
	-webkit-border-top-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	border-radius: 30px;
	border-top-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

#table5{
	width:60%;
	position:fixed;
	top:13%;
	left:20%;
}

#div1{
	width:40%; 
	height:30%; 
	position:relative;
	top:1;
	left:1%;
}

#sidebar{
	width:10%;
	height:20%;
	background-color:red;
	position:fixed;
	top:30%;
	left:90%;
	float: right;
}

#book_test{
	position: relative;
	width: 80%;
	height: 30%;
}