table {
border-style:double;
} 
td {
border-style:double;
left:33%;
} 
#hot{
	width:500px;
	background-color:rgba(255,255,255,.5);
	position:absolute;
	top:30%;
	left:12%; 
	-webkit-border-radius: 30px;
	-webkit-border-top-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	border-radius: 30px;
	border-top-right-radius: 2px;
	border-bottom-left-radius: 2px;

}

#newbook{
	width:500px; 
	height:400px; 
	/*background-color:rgba(255,255,255,.5);*/
	position:absolute;
	top:30%;
	left:980px; 
	-webkit-border-radius: 30px;
	-webkit-border-top-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	border-radius: 30px;
	border-top-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

#table5{
	width:60%;
	position:fixed;
	top:13%;
	left:20%;
}

#div1{
	width:40%; 
	height:30%; 
	position:relative;
	top:1;
	left:1%;
}

#table1{
	position:relative;
	right:40%;
	width:100%;
	height:10%;
}

#table2{
	font-size:9px;
	position:relative;
	left:40%;
	top:-180px;
	width:220px;
}

#sidebar{
	width:10%;
	height:20%;
	background-color:red;
	position:fixed;
	top:30%;
	left:90%;
	float: right;
}

#book_test{
	position: relative;
	width: 80%;
	height: 30%;
}

#login_register{
position: relative;
left:90%;

}