#username{
position:relative;
width:300px;
left:750px;
top:100px;
}
#Username{
position:relative;
width:200px;
left:750px;
top:100px;
}

#password{
position:relative;
width:300px;
left:750px;
top:120px;
}
#Password{
position:relative;
width:200px;
left:750px;
top:120px;
}

#nickname{
position:relative;
width:300px;
left:750px;
top:140px;
}
#Nickname{
position:relative;
width:200px;
left:750px;
top:140px;
}

#email{
position:relative;
width:300px;
left:750px;
top:160px;
}
#Email{
position:relative;
width:200px;
left:750px;
top:160px;
}


#register{
position:relative;
left:720px;
top:230px;
}

#language{
position:relative;
left:790px;
top:180px;
}

#profession{
position:relative;
left:910px;
top:180px;
}